// COLOR PALETTE
$clr1:#eaeaea; //border
$clr2: #fff;
$clr3: #ff385c;
$clr4: #ececec;
$clr5: #222222; //font
$clr6: #1E1E1E; //background
// $clr5: #fff;
// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 1600px;