.profile {
    flex-grow: 1;
    margin-top: 170px;
    font-size: 1rem;
    display: flex;
    .title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .small {
        margin-bottom: 20px;
    }
    .orders-container {
        display: flex;
        gap: 40px;
        flex-grow:1
    }
    .list-container{
        flex-grow: 0.7;
    }
    .list-orders {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width:780px;
        .card {
            display: flex;
            border: 2px solid $clr1;
            border-radius: 10px;
            align-items: center;
            padding: 20px;
            justify-content: space-between;
            .left{
                display: flex;
                .user-img{
                    height: 60px;
                    min-width: 60px;
                    margin-right: 20px;
                }
            }
           

            .action {
                cursor: pointer;
                .change {
                    cursor: pointer;
                    min-width: 110px;
                }
            }
            .name {
                text-overflow: ellipsis;
            }
        }
        img {
            border-radius: 30px;
            width: 100%;
            height: 100%;
        }
        .info {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            .by {
                font-weight: 600;
                margin-bottom: 8px;
            }
        }
        .expire {
            font-weight: 500;
            font-size: 1rem;
        }
        .order-info {
            // color: $clr7;
        }
        .action {
            margin-left: 50px;

            .accept {
                color: rgb(29, 167, 29);
                font-weight: 500;
            }
            .reject {
                color: rgb(211, 71, 7);
                font-weight: 500;
            }
        }
        .accepted {
            color: rgb(29, 167, 29);
        }
    }

    .summary {
        border: 2px solid $clr1;
        border-radius: 10px;
        padding: 20px;
        width: 400px;
        flex-grow:0.3;
        .header {
            border-bottom: 1px solid $clr1;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            .txt {

            }
            .fantastic {
                font-weight: bold;
                margin-bottom: 8px;
            }
            .great {
                margin-bottom: 20px;
            }
            .v {
                display: flex;
                justify-content: space-between;
                align-items: center;

                i {
                    color: lightseagreen;
                    font-size: 2rem;
                }
            }
        }
        .middle {
            border-bottom: 1px solid $clr1;
            margin-bottom: 20px;
            .revenue {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            .days {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
        }
        .buttom {
            .reating {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            .reviews {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }

            .svg-container {
                img {
                    width: 100%;
                }
            }
        }
        .fa-star {
            color: $clr3
        }
    }
}
