.deshboard {
    flex-grow: 1;
    margin-top: 120px;
    font-size: 1rem;
    // display: flex;
    .title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .small {
        margin-bottom: 20px;
    }
    .orders-container {
        display: flex;
        gap: 40px;
        flex-grow: 1
    }
    
   
    .summary {
        border: 2px solid $clr1;
        border-radius: 10px;
        padding: 20px;
        width: 400px;
        flex-grow: 0.3;
        .header {
            border-bottom: 1px solid $clr1;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            .txt {}
            .fantastic {
                font-weight: bold;
                margin-bottom: 8px;
            }
            .great {
                margin-bottom: 20px;
            }
            .v {
                display: flex;
                justify-content: space-between;
                align-items: center;
                i {
                    // color: lightseagreen;
                    color: $clr3;
                    font-size: 2rem;
                }
            }
        }
        .middle {
            border-bottom: 1px solid $clr1;
            margin-bottom: 20px;
            .revenue {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            .days {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
        }
        .buttom {
            .reating {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            .reviews {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            .svg-container {
                img {
                    width: 100%;
                }
            }
        }
        .fa-star {
            color: $clr3
        }
    }
}