@keyframes slide-top {
    0% {
        -webkit-transform: translateY(50px) scale(2);
        transform: translateY(50px) scale(2);
    }
    100% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
    }
}

.app-header {
    background-color: $clr2;
    font-size: 1rem;
    letter-spacing: 0.1px;
    font-family: Roboto;
    position: fixed;
    transition: background-color 0.4s;
    color: $clr5;
    width: 100%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    // -webkit-box-shadow: -1px -9px 7px 11px rgba(151, 151, 151, 0.64);
    // box-shadow: -1px -9px 7px 11px rgba(151, 151, 151, 0.64);
    padding: 13px 0;
    .top {
        height: 48px;
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
        .logo {
            padding-bottom: 6px;
            width: 210px;
            font-weight: 900;
            color: $clr3;
            font-size: 27px;
            letter-spacing: 0.001px;
            a {
                text-decoration: none;
            }
            span {
                text-decoration: none;
                color: $clr3;
            }
            i {
                color: $clr3;
                padding-bottom: 3px;
                display: inline-block;
                font-size: 35px;
                -moz-transform: scale(1, -1);
                -webkit-transform: scale(1, -1);
                -o-transform: scale(1, -1);
                -ms-transform: scale(1, -1);
                transform: scale(1, -1);
                margin-inline-end: 8px;
            }
        }
        .middle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            line-height: 20px;
            .places {
                padding-top: 7px;
                .sep {
                    margin-top: 5px;
                    margin-inline-start: 40.5px;
                    width: 18px;
                    height: 2px;
                    background-color: $clr5;
                    border-radius: 4px;
                }
            }
            button {
                cursor: pointer;
                margin-top: 1px;
                animation-name: slide-top;
                animation-duration: 0.4s;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $clr2;
                border: solid $clr1 1px;
                padding: 0.9px 6px 0 8px;
                border-radius: 50px;
                height: 48px;
                width: 300px;
                -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
                &:hover {
                    -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.3);
                    transition: all 0.3s;
                }
                span {
                    display: inline-block;
                    padding: 0 16px;
                    font-size: 0.875rem;
                    font-weight: 500;
                }
                i {
                    justify-self: flex-end;
                    margin-top: 1px;
                    font-size: 12px;
                    color: #fff;
                    background-color: #ff385c;
                    border: unset;
                    height: 35px;
                    width: 35px;
                    padding: 12px 5px;
                    border-radius: 100px;
                    box-sizing: border-box;
                    // &:hover {
                    //     background-color: #e70e36;
                    // }
                }
            }
        }
        .right {
            position: relative;
            display: flex;
            justify-content: flex-end;
            width: 210px;
            align-items: center;
            gap: 15px;
            font-weight: 600;
            letter-spacing: 0.6px;
            a {
                text-decoration: unset;
                color: $clr5;
                font-weight: 500;
            }
            nav {
                display: flex;
                cursor: pointer;
                gap: 10px;
            }
            .explore {
                color: #FFFFFF;
            }
            .lng {
                cursor: pointer;
            }
            .preference {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: unset;
                background-color: $clr2;
                border-radius: 32px;
                gap: 12px;
                padding: 5px;
                padding-inline-start: 13px;
                color: #4a4a4a;
                border: $clr1 solid 1px;
                .btn-user {
                    padding-top: 1px;
                    background-color: rgb(204, 203, 203);
                    height: 32px;
                    width: 32px;
                    border: unset;
                    border-radius: 32px;
                }
                img {
                    height: 32px;
                    border-radius: 50px;
                }
                .warning {
                    // box-shadow: rgb(255 255 255) 0px 0px 0px 1.5px !important;
                    position: absolute;
                    z-index: 60;
                    border-radius: 50%;
                    height: 10px;
                    min-width: 10px;
                    right: 6px;
                    top: 6px;
                    color: snow;
                    font-size: 0.5rem;
                    background-color: $clr3;
                    text-align: center;
                    // animation-name: keyframe_5k3zne ;
                    // animation-duration: 0.4s ;
                    // animation-timing-function: cubic-bezier(0.175, 0.885, 0.35, 1.1) !important;
                }
            }
        }
    }
    .bottom {
        display: flex;
        justify-content: center;
    }
    height: 85px;
    transition: height 0.4s;
    &.open {
        height: 171px;
        transition: height 0.4s;
        &.home.top {
            height: 85px;
            background-color: unset;
            -webkit-box-shadow: none;
            box-shadow: none;
            .logo span,
            .logo i {
                color: $clr2;
                transition: color 0.4s;
            }
            .middle {
                color: $clr2;
                // transition: color .4s;
            }
            .middle .places .sep {
                background-color: $clr2;
            }
            .right a {
                color: $clr2;
            }
        }
    }
}