        .details-header {
            margin-top: 130px;
            margin-bottom: 20px;
            .title {
                font-size: 1.625rem;
                margin-bottom: 7px;
                font-weight: 600;
                letter-spacing: .5px;
            }
            .fa-star {
                color: $clr3;
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                .rate {
                    font-size: 1rem;
                    font-weight: 600;
                }
                .right {
                    display: flex;
                    div {
                        display: flex;
                        &:first-child {
                            margin-inline-end: 20px;
                        }
                        i {
                            margin-inline-end: 10px;
                            margin-block-start: 2px;
                        }
                    }
                }
            }
        } // HEADER END