.details {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    img {
        margin-right: 5px;
        width: 4em;
        height: 4em;
        object-fit: cover;
        
    }
    h1 {
        font-size: 1rem;
    }
}