.stay-preview {
    // -webkit-box-shadow: 0px 1px 5px -2px rgba(85, 85, 85, 0.37);
    // box-shadow: 0px 1px 5px -2px rgba(85, 85, 85, 0.37);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    min-width: 300px;
    height: fit-content;
    & * {
        overflow: hidden !important;
    }
    .info {
        font-size: 1rem;
        text-overflow: ellipsis;
        letter-spacing: 0.3px;
        line-height: 1.5rem;
    }
    img {
        border-radius: 10px;
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
        width: 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
    }
    .buttom {
        display: flex;
        justify-content: space-between;
    }
    .heart {
        position: absolute;
        right: 15px;
        top: 14px;
        z-index: 2;
        font-size: 22px;
        background-color: unset;
        color: rgba(1, 9, 17, 0.424);
        width: 22px;
        height: 22px;
        img {
            width: 100%;
            height: 100%;
        }
        .fa-heart {
            color: $clr3;
        }
    }
    .fa-star {
        position: relative;
        top: 5.5px;
        color: $clr3;
        margin-bottom: 6px;
    }
    .card-rating {
        margin-bottom: 6px;
        font-size: 1rem;
        img {
            width: 16px;
            height: 16px;
        }
    }
    .card-rating span {
        font-weight: 300;
    }
    .card-rating .rate {
        // font-weight: 600;
    }
    .price {
        span {
            font-weight: 300;
            font-size: 1.1rem;
            &:first-child {
                font-weight: 600;

                margin-inline-end: 3px;
            }
            display: inline-block;
        }
    }
    .changeColor {
        color: $clr3;
    }
    .type {
        font-size: 1.2rem;
        text-overflow: ellipsis;
        // font-weight: 300;
    }
    .name {
        // overflow-y: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 8px;
        font-size: 1.2rem;
        // font-weight: 600;
    }
    .el-carousel__button {
        border: unset;
        width: 1px;
        margin: 0;
        padding: 3px;
    }
    .el-carousel__indicators--horizontal {
        width: 80%;
        @include center;
    }
    .el-carousel__arrow {
        background-color: rgba(255, 255, 255, 0.979);

        border: unset;

        &:hover {
            background-color: rgba(245, 240, 240, 0.65);
        }
    }
    .el-carousel__indicators.el-carousel__indicators--horizontal {
        position: relative;
        height: 15px !important;
        bottom: 22px;
    }
    .img-carousell.el-carousel.el-carousel--horizontal,
    .el-carousel__container,
    .el-carousel__item.is-active.is-animating {
        height: 200px !important;
    }
    .el-carousel__arrow.el-carousel__arrow--left,
    .el-carousel__arrow.el-carousel__arrow--right {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .el-carousel {
        &:hover {
            .el-carousel__arrow.el-carousel__arrow--left {
                color: $clr1;
                opacity: 1;
            }
            .el-carousel__arrow.el-carousel__arrow--right {
                opacity: 1;
            }
        }
    }
    .img-carousell.el-carousel.el-carousel--horizontal {
        margin-bottom: 10px;
    }
    .el-icon-arrow-right:before {
        color: rgb(75, 75, 75);
    }
    .el-icon-arrow-left:before {
        color: rgb(75, 75, 75);
    }
}

div.el-slider__bar {
    background-color: $clr3 !important;
}
div.el-slider__button {
    border: 2px $clr3 solid !important;
}
