.user-msg {
    display: flex;
    position: fixed;
    top: 100px;
    right: 220px;
    background-color: #66c54f;
    color: #fefefe;
    width: 365px;
    min-height: 40px;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #00000040;

  
    button {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 3px;
        width: 1.5rem;
        height: 1.5rem;
        background-color: transparent;
        border: unset;
        span {
            color: #fefefe;
            font-size: 1rem;
            font-weight: 600;
        }
    }
}

.msg-container {
    height: 100%;
    display: flex;
    align-items: center;
    p {
        padding: 10px 20px;
        font-size: 0.9rem;
        word-wrap: break-word;
    }
  }

  .success{
    background-color: #66c54f;
  }
  .error{
    background-color: $clr3;
  }
