.app-header {
    font-size: .88rem;
    letter-spacing: .1px;
    font-family: Roboto;
    position: fixed;
    background-color: $clr2;
    color: $clr5;
    width: 100%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    padding: 13px 0;
    -webkit-box-shadow: -1px -9px 7px 11px rgba(151, 151, 151, 0.64);
    box-shadow: -1px -9px 7px 11px rgba(151, 151, 151, 0.64);
    .top {
        height: 48px;
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
        .logo {
            padding-bottom: 6px;
            width: 193px;
            font-weight: 900;
            color: $clr3;
            font-size: 25px;
            a {
                text-decoration: none;
            }
            span {
                text-decoration: none;
                color: $clr3;
            }
            i {
                color: $clr3;
                padding-bottom: 3px;
                display: inline-block;
                font-size: 35px;
                -moz-transform: scale(1, -1);
                -webkit-transform: scale(1, -1);
                -o-transform: scale(1, -1);
                -ms-transform: scale(1, -1);
                transform: scale(1, -1);
                margin-inline-end: 8px;
            }
        }
        .middle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            line-height: 20px;
            // padding: 10px 16px;
            .places {
                padding-top: 7px;
                .sep {
                    margin-top: 5px;
                    margin-inline-start: 40.5px;
                    width: 18px;
                    height: 2px;
                    background-color: $clr5;
                    border-radius: 4px;
                }
            }
            button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: unset;
                border: solid $clr1 1px;
                padding: 1.5px 6px 0 8px;
                border-radius: 50px;
                height: 48px;
                width: 300px;
                -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
                span {
                    display: inline-block;
                    padding: 0 16px;
                    font-size: .875rem;
                    font-weight: 500;
                }
                i {
                    justify-self: flex-end;
                    margin-top: 1px;
                    font-size: 12px;
                    color: #fff;
                    background-color: #ff385c;
                    border: unset;
                    height: 35px;
                    width: 35px;
                    padding: 11px 5px;
                    border-radius: 100px;
                    box-sizing: border-box;
                }
            }
        }
        .right {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 15px;
            font-weight: 600;
            letter-spacing: 0.6px;
            a {
                text-decoration: unset;
                color: $clr5;
                font-weight: 500;
            }
            .preference {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: unset;
                background-color: $clr2;
                border-radius: 32px;
                gap: 12px;
                padding: 5px;
                padding-inline-start: 13px;
                color: #4a4a4a;
                border: $clr1 solid 1px;
                .btn-user {
                    padding-top: 1px;
                    background-color: rgb(204, 203, 203);
                    height: 32px;
                    width: 32px;
                    border: unset;
                    border-radius: 32px;
                }
                img {
                    height: 28px;
                }
            }
        }
    }
    .bottom {
        display: flex;
        justify-content: center;
    }
    &.open {
        background-color: unset;
        -webkit-box-shadow: none;
        box-shadow: none;
        .top {
            margin-bottom: 15px;
            .logo span,
            .logo i {
                color: $clr2;
            }
        }
        .middle {
            color: $clr2;
        }
        .middle .places .sep {
            background-color: $clr2;
        }
        .right a {
            color: $clr2;
        }
    }
}