.explore-list {
    margin-bottom: 20px;
    h5 {
        color: $clr5;
        font-size: 2rem;
        font-family: Roboto;
        margin-bottom: 20px;
    }
    .items-container {
        display: flex;
        gap: 20px;
        h4 {
            color: $clr5;
            // @include center;
            font-size: 1.125rem;
            font-family: Roboto;
        }
        img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
        }
    }
}