.list-filter {
    display: flex;
    gap: 5px;
    margin-top: 120px;
    margin-bottom: 20px;
}

.list-filter {
    &>button {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(203, 203, 203);
        border-radius: 3rem;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        font-size: 1rem;
    }
}

.price-modal::before,
.types-modal::before,
.amenities-modal::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
    position: absolute;
    top: -5px;
}

.price-modal,
.types-modal,
.beds-modal {
    font-size: 0.7rem;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    min-width: 200px;
    border-radius: 6px;
    z-index: 3;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.276);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    & button:first-of-type {
        color: #525252;
        text-decoration: underline;
        padding: 10px 15px;
        border-radius: 10px;
        font-weight: 600;
        letter-spacing: 0.5px;
        background-color: rgb(255, 255, 255);
    }
    & button:last-of-type {
        color: #fff;
        padding: 10px 15px;
        border-radius: 10px;
        border: 1px solid #b0b0b0;
        font-weight: 600;
        letter-spacing: 0.5px;
        background-color: #222;
    }
}

.price-modal {
    gap: 10px;
    input {
        height: 40px;
        font-size: 1rem;
        max-width: 90px;
        text-align: center;
        // color: #222;
        border-radius: 5px;
        border: 1px solid #b0b0b0;
    }
}

.types-modal {
    left: 35%;
    &>div {
        display: flex;
        align-items: center;
        padding: 5px 0;
        gap: 10px;
    }
}

.beds-modal {
    left: 30%;
    &>div {
        display: flex;
        align-items: center;
        padding: 5px 0;
        gap: 10px;
    }
}

.el-slider__bar {
    background-color: #b0b0b0;
}

.el-slider__button {
    border: 2px solid #dddddd;
}