.stay-list {
    .list-header {
        margin-bottom: 15px;
        div {
            margin-bottom: 10px;
        }
        h1 {
            margin-bottom: 10px;
        }
    }
    .covid {
        color: $clr5;
    }
    button {
        border-radius: 15px;
        border: $clr1 0.6px solid;
        background-color: unset;
        padding: 10px;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
    .amenities {
        margin-bottom: 20px;
    }
    .preview-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 15px;
    }
}