.stay-preview {
    cursor: pointer;
    display: flex;
    width: 100%;
    flex-direction: column;
    .info {
        font-size: .875rem;
    }
    img {
        border-radius: 10px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .fas {
        color: $clr3;
    }
    .rate {
        font-weight: bold;
    }
    .price {
        span {
            &:first-child {
                font-weight: bold;
                margin-inline-end: 3px;
            }
            display: inline-block;
        }
    }
    .changeColor {
        color: $clr3;
    }

    .el-carousel__indicators.el--horizontal {
        width: 60%;
    }
}