.stay-list{
    // display: flex;
    // flex-wrap: wrap;
    // margin-left: 20px;
    // margin-top: 150px;
    // gap: 10px;
  
    .covid {
        color: $clr5;
    }
    button{
        border-radius: 15px;
        border: $clr1 0.6px solid;
        background-color: unset;
        padding: 10px;
        margin: 5px;
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
    .name{
     font-size: 1.625rem;
}
.amenities{
    margin-bottom: 20px;
}
.stay-preveiw-container{
    display: flex;
    // width: 300px;
    // height: 300px;
}
}