.stay-preview {
    -webkit-box-shadow: 0px 1px 5px -2px rgba(85, 85, 85, 0.37);
    box-shadow: 0px 1px 5px -2px rgba(85, 85, 85, 0.37);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    width: 100%;
    flex-direction: column;
    & * {
        overflow: hidden !important;
    }
    .info {
        font-size: 0.875rem;
        padding: 10px;
    }
    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        // border-radius: 10px;
        width: 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
    }
    .buttom {
        display: flex;
        justify-content: space-between;
    }
    .heart {
        position: absolute;
        right: 20px;
        top: 14px;
        z-index: 2;
        font-size: 24px;
        background-color: unset;
        color: rgba(1, 9, 17, 0.424);
        width: 22px;
        height: 22px;
        // width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
        .fa-heart {
            color: $clr3;
            // background-color:$clr3 ;
        }
    }
    .fa-star {
        color: $clr3;
    }
    .card-rating span {
        font-weight: 300;
    }
    .card-rating .rate {
        font-weight: 600;
    }
    .price {
        span {
            font-weight: 300;
            &:first-child {
                font-weight: 600;
                margin-inline-end: 3px;
            }
            display: inline-block;
        }
    }
    .changeColor {
        color: $clr3;
    }
    .type {
        // font-size: .875rem;
        margin-bottom: 5px;
        // font-weight: 300;
    }
    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 5px;
        font-size: 1rem;
        font-weight: 600;
    }
    .el-carousel__button {
        border: unset;
        width: 1px;
        margin: 0;
    }
    .el-carousel__indicators--horizontal {
        width: 80%;
        @include center;
    }
    .el-carousel__arrow {
        background-color: rgba(224, 224, 224, 0.137);
        border: unset;
    }
    .el-carousel__arrow:hover {
        background-color: rgba(223, 219, 219, 0.65);
    }
    .el-carousel__indicators.el-carousel__indicators--horizontal {
        position: relative;
        height: 15px !important;
        bottom: 30px;
    }
    .img-carousell.el-carousel.el-carousel--horizontal,
    .el-carousel__container,
    .el-carousel__item.is-active.is-animating {
        height: 200px !important;
    }
    // TODO: hover on img show the button
    // .el-icon-arrow-right {
    //   display: none;
    // }
    // .el-icon-arrow-left {
    //   display: none;
    // }
    // .el-icon-arrow-right:hover {
    //   display:block
    // }
    // .el-icon-arrow-left:hover {
    //   display:
    // }
    // .el-icon-arrow:hover {
    //     background-color: rgba(223, 219, 219, 0.65);
    // }
}