.stay-filter {
    border-radius: 40px;
    font-size: .75rem;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #ffffff;
    padding-inline-end: 7px;
    border: $clr1 solid 1px;
    text-overflow: ellipsis;
    .first {
        border-radius: 40px;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }
    .sep {
        border-radius: 40px;
        width: 1px;
        height: 32px;
        background-color: #eaeaea;
    }
    .location>div {
        padding: 14px 32px;
        div {
            min-width: 95px;
            max-width: 203px;
        }
    }
    .dates {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        .date-picker {
            position: absolute;
            visibility: hidden;
            top: 100px;
            right: 47.3vw;
            justify-self: center;
        }
        .check-in,
        .check-out {
            &>div {
                padding: 14px 24px;
                div {
                    min-width: 100px;
                    max-width: 130px;
                }
                .date-value {
                    color: $clr5;
                    font-weight: 600;
                    font-size: 0.75rem;
                    line-height: 1.125rem;
                }
                .placeholder {
                    color: #838383;
                    font-weight: 300;
                    font-size: 0.8rem;
                    line-height: 1.125rem;
                }
            }
        }
    }
    .guests {
        &>div {
            padding: 14px 24px;
            min-width: 95px;
            div {
                min-width: 95px;
                max-width: 121px;
            }
        }
    }
    input {
        font-family: Roboto;
        display: block;
        border: unset;
        width: 100%;
        background: none;
        font-family: Roboto;
        color: #222222;
        text-overflow: ellipsis;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
    input::placeholder {
        color: #838383;
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 1.125rem;
    }
    input:focus-visible {
        outline: unset;
    }
    label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        .title {
            font-weight: 900;
            letter-spacing: 0.04em;
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 2px;
        }
    }
    button {
        justify-self: flex-end;
        margin-top: 1px;
        font-size: 16px;
        color: $clr2;
        background-color: $clr3;
        border: unset;
        height: 50px;
        width: 50px;
        padding: 16px 17px;
        border-radius: 100px;
        box-sizing: border-box;
    }
}