.app-header {
    position: fixed;
    width: 100%;
    padding: 0 80px; // TODO: --> RESPONSIVE !! 40 / 24
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .logo {}
        .middle {
            font-size: 1rem;
            line-height: 20px;
            position: absolute;
            left: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            font-weight: 400;
            padding: 10px 16px;
            .sep {
                margin-top: 5px;
                // margin-bottom: 10px;
                width: 18px;
                height: 2px;
                background-color: #fff;
                border-radius: 1px;
            }
            .btn-start-search {
                display: none;
                background-color: #fff;
                justify-content: space-between;
                font-weight: bold;
                border-radius: 50px;
                border: unset;
                height: 40px;
                width: 250px;
                // margin: 15px;
                // span {
                //     background-color: $clr3;
                //     border: unset;
                //     border-radius: 30px;
                // }
            }
        }
        .right {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 10px;
            a {
                text-decoration: unset;
                color: #fff;
            }
            .preference {
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: unset;
                border-radius: 32px;
                gap: 12px;
                padding: 5px;
                padding-left: 13px;
                .btn-user {
                    height: 30px;
                    background-color: unset;
                    border: unset;
                }
                img {
                    height: 30px;
                }
            }
        }
    }
}