.list-filter {
    display: flex;
    gap: 4px;
    margin-top: 108px;
    button {
        border-radius: 15px;
        border: $clr1 0.6px solid;
        background-color: unset;
        padding: 10px;
        margin-inline-end: 3px;
        margin-bottom: 15px;
    }
}

.el-slider {
    color: #b0b0b0;
}

.el-slider__button {
    border: 2px solid #dddddd;
}

.el-button {
    &:hover,
    &:focus,
    &:active {
        background-color: rgb(246, 242, 242);
        border-color: #b0b0b0;
    }
}

.price {
    display: flex;
    max-width: 310px;
    .el-input {
        width: 100px;
    }
}