.stay-details {
    .details-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 22vh 22vh;
        gap: 7px;
        > * {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        img {
            &:first-child {
                border-start-start-radius: 10px;
                border-end-start-radius: 10px;
                grid-row: span 2;
                grid-column: span 2;
            }
            &:last-child {
                border-end-end-radius: 10px;
            }
            &:nth-child(3) {
                border-start-end-radius: 10px;
            }
        }
    }
    .main-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .info {
        padding-top: 48px;
        padding-bottom: 24px;
        display: flex;
        justify-content: space-between;
        border-bottom: $clr1 solid 1px;
        font-weight: lighter;
        .title {
            font-weight: 600;
            font-size: 1.375rem;
            line-height: 1.625rem;
            margin-bottom: 8px;
            span {
                text-transform: capitalize;
            }
        }
        .property-type {
            text-transform: lowercase;
        }
        img {
            height: 56px;
            width: 56px;
            border-radius: 32px;
            background-color: $clr7;
        }
    }

    .amenities {
        border-bottom: $clr1 solid 1px;
        .title-amenities {
            font-size: 1.375rem;
            font-weight: 500;
            margin: 30px 0 20px 0;
        }

        .amenities-list {
            display: flex;
            gap: 10px;
            padding: 8px;
            img {
                width: 32px;
                height: 32px;
            }
            .txt {
                font-size: 1rem;
            }
        }
    }
    .reviews-container {
        margin: 40px 0;
        .rating {
            margin-bottom: 10px;
            .fa-star {
                color: $clr3;
                font-size: 1.375rem;
            }
            p {
                font-size: 1.375rem;
            }
            span {
                font-size: 1.375rem;
            }
        }
    }
    .map-container {
        border-bottom: $clr1 solid 1px;
        margin-bottom: 40px;
        .map-title {
            font-size: 1.375rem;
            margin-bottom: 24px;
            letter-spacing: 1.5px;
        }
        .stay-location {
            font-weight: 500;
            margin-top: 22px;
            margin-bottom: 22px;
        }
        .stay-nearness {
            margin-bottom: 22px;
        }
    }
    .host {
        .header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .title {
                font-weight: 600;
                font-size: 1.375rem;
                line-height: 1.625rem;
                // align-items: center;
            }
            img {
                height: 56px;
                width: 56px;
                border-radius: 32px;
                position: relative;

                margin-right: 20px;
            }
            .medal {
                height: 20px;
                width: 20px;
                position: absolute;
                // right: 86%;
                margin-left: 42px;
                margin-top: 14px;
            }
        }
        .rate {
            display: flex;
            gap: 15px;
            margin-bottom: 30px;

            .fa-star {
                color: $clr3;
                font-size: 1rem;
            }
            .validation {
                width: 16px;
                height: 16px;
            }
        }
        .content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .super-host {
                font-weight: bold;
                margin-bottom: 15px;
            }
            
            .Response-time{
                margin-bottom: 20px;
            }
            .Response-rate{
                margin-bottom: 15px;
            }
            p{
                line-height: 1.3rem;
            }
            p:nth-child(3) {
                margin-bottom: 20px;
              }
           
            .contact {
                cursor: pointer;
                margin-bottom: 10px;
                width: fit-content;
                padding: 13px 23px;
                border-radius: 6px;
                
                background-color: unset;
                border:1px solid $clr5;
       
                font-size: 1rem;
            
                &:hover {
                    background-color: rgba(209, 209, 209, 0.191)
                }
            }
            .securing{
                width: 300px;
                display: flex;
                gap: 15px;
                margin-bottom: 20px;
            }
           
        }
       
    }
}
