.stay-details {
    .details-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 7px;
        // justify-content: stretch;
        // border-radius: 20px;
        >* {
            width: 100%;
            object-fit: cover;
        }
        img {
            &:first-child {
                border-start-start-radius: 10px;
                border-end-start-radius: 10px;
                grid-row: span 2;
                grid-column: span 2;
            }
            &:last-child {
                border-end-end-radius: 10px;
            }
            &:nth-child(3) {
                border-start-end-radius: 10px;
            }
        }
    }
}