.trips {
    flex-grow: 1;
    margin-top: 180px;
    h2{
        font-size: 40px;
        font-weight: bold;
    }

    .time {
        display: flex;
        border-bottom: 1px solid $clr1;
        cursor: pointer;
        .upcoming {
            margin-right: 20px;
        }
    }
    .explore{
        background-color: $clr5;
        width: fit-content;
        height: fit-content;
        text-decoration: unset;
        color: snow;
        font-weight: 600;
        font-size: 1.3rem;
        padding: 15px 20px;
        border-radius: 8px;
        margin-bottom: 40px;
        text-align: center;
    }
    .help{
        margin-bottom: 20px;
    }
}

// background-image: url(~@/assets/img/icon/trip.svg);
// background-position:bottom;
// background-repeat: no-repeat;
// background: size 100vh;
// width:100vw ;
