* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

html {
    color: $clr5;
    max-width: 100vw;
}

body {
    // display: flex;
    height: 100vh;
    .el-picker-panel.el-date-range-picker.el-popper {
        top: 135px !important;
        left: 20% !important;
    }
    .el-date-table td.end-date span,
    .el-date-table td.start-date span {
        background-color: $clr3;
    }
    .el-date-table td.today span {
        color: $clr3;
    }
    .el-date-table td.in-range div,
    .el-date-table td.in-range div:hover,
    .el-date-table.is-week-mode .el-date-table__row.current div,
    .el-date-table.is-week-mode .el-date-table__row:hover div {
        background-color: #ff385c1f;
    }
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.popper__arrow,
div.popper__arrow::after {
    display: none;
}